
// A basic border
.border,
%border {
	border:1px solid $colour_light;

	&_dark {
		border:1px solid $colour_dark;
	}
	&_light {
		border:1px solid $colour_light;
	}
}


// Masks images where overflow doesn't work.
// -- Chrome has a bug where it occasionally ignores border-radius on images. 
// --- Add this class to prevent the overflow. 
.mask {
	-webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
}

// Vertically and horizontally aligns an image in an overflowing container
.img-align {
	margin:0 -100%;
	@include v-align;
}

// Add basic shadows
.shadow {
	box-shadow: 1px 1px 4px 1px rgba(#000,0.3);
}



