@mixin clearfix {
	&:before,
	&:after {
	    content: " ";
	    display: table;
	}
}

// Hide things accessibly
@mixin visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

// placeholder styling
@mixin placeholder($color) {
    ::-webkit-input-placeholder {
        color: $color;      
    }
    ::-moz-placeholder {
        color: $color;     
    }
    :-ms-input-placeholder {
        color: $color;
    }
}

// Adds an ellipsis on overflowing text
@mixin truncate {
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}