  // -----------------------------
 // 		Base Typography
// ---------------------------------

// This is a font stack to use the OS' default font
$system-font-stack: -apple-system, '.SFNSText-Regular', 'San Francisco', 'Oxygen', 'Ubuntu', 'Roboto', 'Segoe UI', 'Helvetica Neue', 'Lucida Grande', sans-serif;


html,
:root {
	font-size: 16px;
}

body {
	font-family: $system-font-stack;
	color:#333;
	line-height:1.5;
}

// // Font Families
// $font-heading: 'Playfair Display', 'Georgia', serif;
// $font-copy: 'Roboto Mono', 'Lucida Console', Monaco, monospace;

