  // -----------------------------
 // 		Base Typography
// ---------------------------------

html,
:root {
	font-size: 16px;
}

body {
	font-family: $system-font-stack;
	color:#333;
	line-height:1.5;
}

// // Font Families
// $font-heading: 'Playfair Display', 'Georgia', serif;
// $font-copy: 'Roboto Mono', 'Lucida Console', Monaco, monospace;

