// This is a font stack to use the OS' default font
$system-font-stack: -apple-system, '.SFNSText-Regular', 'San Francisco', 'Oxygen', 'Ubuntu', 'Roboto', 'Segoe UI', 'Helvetica Neue', 'Lucida Grande', sans-serif;

// The $space variable is set to 16px, which is equal to 1em, if the body font-size is set to 100%;
$space: 1em;


// Colours
$color-dark: #333;
