.main-header {
    width: 100%;

    background-color: #efefef;
}

    .main-header--container {
        width: 100%;
        max-width: $bp-lg;
        margin-left: auto;
        margin-right: auto;

        display: flex;

        @include mq-md {
            padding-left: 2em;
            padding-right: 2em;
            padding-top: 1em;
            padding-bottom: 1em;
        }
        @include mq-sm {
            padding-left: 1em;
            padding-right: 1em;

            padding-top: 0.5em;
            padding-bottom: 0.5em;
        }
    }

        // Mobile Menu ----
        .main-header--mobile-menu__open {
            margin-left: auto;
            cursor: pointer;
        }
        .main-header--mobile-menu__close {
            display: block;
            height: 1.5em;
            width: 2em;

            font-size: 2.5em;
            line-height: 1;

            padding-left: 0.2em;
            padding-right: 0.3em;
            padding-bottom: 0.2em;
        }


        .main-header--logo {
           
        }

        .main-header--nav {
            position: fixed;
            top: 0;
            z-index: z("overlay");

            width: 100%;
            height: 100%;

            padding-top: 4em;
            padding-left: 2em;
            padding-right: 2em;

            overflow: hidden;

            background-color: $color-primary-light;

            color: check-text-color($color-primary-light);

            // The link wrapper
            > a {
                display: block;
                text-align: center;
            }

            // Hidden state --
            transition: 0.25s;
            border-radius: 50%;
            opacity: 0;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) scale(0.1);

            &.-is-visible {
                left: 0;
                top: 0;

                max-height: 100%;
                max-width: 100%;

                opacity: 1;
                border-radius: 0;

                transform: translateX(0) scale(1);
            }
        }

            .main-header--nav__item {
                position: relative;
                display: inline-block;

                padding-top: 0.65em;
                padding-bottom: 0.65em;

                color: $color-white;    
                text-align: center;                
                font-size: 2em;

                // The underline
                &:after {
                    content: '';
                    position: absolute;
                    top: 5rem;
                    left: 50%;
                    width: 100%;
                    height: 0.25rem;

                    transform: translateX(-50%);

                    background-color: $color-highlight;

                    // Transition State
                    max-width: 0;
                    transition: max-width 0.25s ease-in;
                }

                &:hover:after,
                &:focus:after {
                    max-width: 10em;
                }
            }
