// Imagine you could add a single PRIMARY or THEME color, 
//    and through SASS functions, we could create an appropriate palette for the
//    - http://sass-lang.com/documentation/Sass/Script/Functions.html


$color-primary:     #6473fa; 
$color-primary-500: darken($color-primary, 25%);
$color-primary-300: lighten($color-primary, 15%);
$color-primary-100: lighten($color-primary, 30%);
$color-primary-grad: linear-gradient(-45deg, $color-primary 0%, $color-primary-500 100%);

$color-highlight:   #fa5e80; 
$color-success: $color-highlight;
$color-danger: red;

$color-light:       #fff;
$color-black:       #111;
$color-dark:        mix( desaturate($color-primary, 60%), $color-black, 35% );

$color-gray-500: $color-dark;
$color-gray-400: lighten($color-gray-500, 25%);
$color-gray-300: lighten($color-gray-400, 25%);
$color-gray-200: lighten($color-gray-300, 22%);
$color-gray-100: lighten($color-gray-200, 25%);

$color-grad-highlight: linear-gradient(40deg, $color-highlight, lighten($color-highlight, 10%));


.bg-primary-grad {
    background: linear-gradient(120deg, $color-primary-100, $color-primary-300);
}