// Slim Defaults
// ------------


html,
:root {
   font-size: 16px;
   //font-size: 62.5%;
}

body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.img {
  max-width:100%;
}

input, button {
    outline: 0;
}