table,
th,
td {

}

table {
    border-radius: $radius;
}

th,
td {
	padding:$space/2 $space;
}

tr {

	&:nth-of-type(even) {
		background-color: #efefef;
	}
}

@media (max-width: 40rem) {
	
	table {
		font-size:70%;
	}

	td {
		padding:$space/2;
	}
}
