// Typographic Styles

// Text Alignment
.text-center  {text-align: center;}
.text-left    {text-align: left;}
.text-right   {text-align: right;}


// Text Colours
.text-color {

	&.-dark {
		color:$color-dark;
	}
}