  // -----------------------------
 //         Base Typography
// ---------------------------------

html,
:root {
    @include mq-sm {
        font-size: 15px;
    }
    @include mq-md {
        font-size: 16px;
    }
    @include mq-xl {
        font-size: 19px;
    }
}

body {
    font-family: $font-stack;
    color: $color-gray-dark;
    line-height: 1.5;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;

}

// Headings

h1, h2, h3, h4, h5, h6 {
    margin-top: 2rem;
    margin-bottom: 2rem;

    font-weight: 300;
}

h1 {
    font-size: 3.6rem; line-height: 1.2;
}

h2 {
    font-size: 3.0rem; line-height: 1.25;
}

h3 {
    font-size: 2.4rem; line-height: 1.3;
}

h4 {
    font-size: 1.8rem; line-height: 1.35;
}

h5 {
    font-size: 1.5rem; line-height: 1.5;
}

h6 {
    font-size: 1.25rem; line-height: 1.6;
}

p {
    font-size: 1.1rem; line-height: 1.5;
}

// Typographic Styles

// Text Alignment
.text-center  {text-align: center;}
.text-left    {text-align: left;}
.text-right   {text-align: right;}


// Text Colours
.text-color {

	&.-dark {
		color: $color-gray-dark;
	}
}