// Alignment ----

.pos--center  {margin-left: auto;margin-right:auto;}

.pos--l {
    margin-right: auto;
}

.pos--r {
    margin-left: auto;
}

.pos--b {
    margin-top: auto;
}

.pos--t {
    margin-bottom: auto;
}