// Positioning ----

.pos--center  {margin-left: auto;margin-right:auto;}

.pos--l {
    margin-right: auto;
}

.pos--r {
    margin-left: auto;
}

.pos--b {
    margin-top: auto;
}

.pos--t {
    margin-bottom: auto;
}

// Alignment ----
.align--center {
    align-items: center;
    align-self: center;
}

.align--end {
    align-items: flex-end;
    align-self: flex-end;
}

.align--start {
    align-items: flex-start;
    align-self: flex-start;
}


// Floats ----

.fl--l {
    float: left;
}

.fl--r {
    float: right;
}