

// Displays
.d-i {display: inline;}
.d-b {display: block;}
.d-ib {display: inline-block;}

// Positioning
.absolute {position: absolute;}
.relative {position: relative;}
.fixed	  {position:fixed;}
.static	  {position: static;}

// Viewport proportions
.vh {height:100%;height:100vh;}
.vw {width:100%;width:100vw;}