@mixin btn-base {
    position: relative;

    display: inline-block;
    height: $button-height;

    padding-left: 1.5em;
    padding-right: 1.5em;

    border-radius: $radius-sm;
    border-style: solid;
    border-width: 2px;
    border-color: transparent;

    white-space: nowrap;
    text-decoration: none;
    line-height: 2;
    font-weight: 600;
    font-size: $font-size-meta;
    letter-spacing: 0.015em;

    background-color: transparent;

    cursor: pointer;

    // For a larger hit-zone on mobile
    @include mq-sm {
        @include hitzone(0.5em);
    }
}

// Buttons are pretty by default
button,
input[type="submit"],
input[type="button"],
.btn {
    @include btn-base;

    color: $color-primary;

    border-color: $color-primary;

    transition: color 0.1s ease-in-out, box-shadow 0.2s ease-in-out;

    &:hover,
    &:focus {
        border-color: $color-primary-light;
    }
    &:active {

    }
}

// This button is filled with color
.btn--primary {
    @include btn-base;

    color: check-text-color($color-primary);

    background-color: $color-primary;
    border-color: $color-primary;

    &:hover,
    &:focus {
        background-color: rgba($color-primary, 0.9);
        color: #fff;
    }
    &:active {

    }
}


