table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    text-align: left;
}

th, td {
    border-bottom: 1px solid $color-ui-fill;

    padding: 0.85em 1em;

    &:first-child {
        padding-left: 0;
    }
    &:last-child {
        padding-right: 0;
    }
}