@mixin card-base {
    position: relative;
    background-color: $color-white;

    border-radius: $radius-sm;
    border: 1px solid $color-gray-100;

    box-shadow: $shadow-sm;
}

.card {
    @include card-base();
}