.main-header {
    width: 100%;

}

    .main-header-nav {
        @include mq-md {
            display: flex;
            flex-flow: row nowrap;
            align-items: end;

            justify-content: flex-end;
        }

        @include mq-sm {
            position: fixed;
            top: 0;
            z-index: z("overlay");

            height: 100%;

            padding-top: 4em;

            overflow: auto;

            background-color: $color-primary-300;

            color: check-text-color($color-primary-300);

            // The link wrapper
            > a {
                display: block;
                text-align: center;
            }
            
            // Hidden state -
            transition: 0.25s;
            border-radius: 50%;
            opacity: 0;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) scale(0.1);

        }

        width: 100%;

        padding-left: 2em;
        padding-right: 2em;


        &.-is-visible {
            left: 0;
            top: 0;

            max-height: 100%;
            max-width: 100%;

            opacity: 1;
            border-radius: 0;

            transform: translateX(0) scale(1);
        }
    }

        .main-header-nav-item {
            @include mq-md {
                margin-left: 2em;
            }
            @include mq-sm {
                font-size: 2em;
                text-align: center;   
                color: $color-light;    
            }

            position: relative;
            display: inline-block;

            padding-top: 0.65em;
            padding-bottom: 0.65em;             

            // The underline
            &:after {
                content: '';
                position: absolute;
                top: 5rem;
                left: 50%;
                width: 100%;
                height: 0.25rem;

                @include mq-md {
                    top: 2.55rem;
                }

                transform: translateX(-50%);

                background-color: $color-accent;

                // Transition State
                max-width: 0;
                transition: max-width 0.25s ease-in;
            }

            &:hover:after,
            &:focus:after {
                max-width: 10em;
            }
        }

    
        .main-header-logo {
            height: 52px;
            margin-right: auto;

            img {
                max-height: 100%;
            }

            @include mq-sm {
                display: none;
            }
        }

// Mobile specific styles ------------

    .mobile-nav-close {
        @include mq-md {
            display: none;
        }
        text-align: center;
        margin-bottom: 2rem;
    }

    .mobile-nav-btn {
        @include mq-md {
            display: none;
        }
    }
