</main>

<!-- Footer -->
<footer class="section mar-t_xl bg-primary-grad" role="info">

    <div class="container-sm row row-between responsive-sm">
        <p>
            Built and maintained by
            <a href="https://twitter.com/simgooder" title="Twitter: @simgooder">@simgooder</a>.
        </p>
        <img src="img/favicon/favicon.svg" height="50" alt="">
    </div>

</footer>

</div>
<!-- Wrapper -->

</body>

</html>