<!-- Navigation -->
<div class="mobile-nav-btn" data-idea-toggle="nav" aria-label="Open Navigation Menu">
    <div>MENU</div>
</div>

<nav class="main-header-nav" role="navigation" data-idea-target="nav">

    <div class="main-header-logo">
        <img src="img/slim-starterkit-logomark.svg" alt="">
    </div>

    <div class="mobile-nav-close">
        <button class="btn-icon-light" data-idea-toggle="nav" aria-label="Close Navigation Menu" title="Close Navigation Menu">
            <span>&times;</span>
        </button>
    </div>

    <a href="#features" data-idea-toggle="nav">
        <div class="main-header-nav-item">
            Features
        </div>
    </a>

    <a href="#examples" data-idea-toggle="nav">
        <div class="main-header-nav-item">
            Examples
        </div>
    </a>

    <a href="/documentation.html" data-idea-toggle="nav">
        <div class="main-header-nav-item">
            Documentation
        </div>
    </a>

</nav>


<main role="main">