<section class="section">

    <h3 id="inputs">
        Inputs
    </h3>

    <div class="row responsive-sm">
        <div class="col-50">
            <div class="input-group">
                <label class="input-label">
                    Text Input
                </label>
                <input class="input-text" type="text" placeholder="Placeholder text" id="input-text">
            </div>
            <div class="input-group -has-select">
                <label class="input-label">
                    Select Field
                </label>
                <select class="input-select" name="idea_select" id="idea_select">
                    <option value="One">Option One</option>
                    <option value="Two">Option Two</option>
                    <option value="Three">Option Three</option>
                </select>
            </div>
        </div>
    </div>

</section>