
<section class="section">

    <header id="layout">
        <h2>Layout</h2>
    </header>
    
    <h3 id="grid">
        Grid. Flexible and responsive.
    </h3>
    
    <p>
        Build dynamic columns using the
        <code>.col</code> class, or definitive widths by suffixing
        <code>col</code> with your width, like
        <code>.col-30</code>.
    </p>
    <p>
        Wrap your columns in a
        <code>.row</code> class, with optional gutters (
        <code>.row-gutters</code>).
    </p>
    <p>
        There are even classes like
        <code>.responsive-sm</code>, to break the grid at specific breakpoints.
    </p>

</section>

<section class="section">
    
    <h3 id="positioning">
        Positioning
    </h3>
    <p>Based on a simple
        <code>$space</code> variable, and a set of helper classes, positioning your elements with padding or extra margin is as easy as adding a
        class. In this case,
        <code>$space</code> is equal to
        <code>1em</code>.</p>
    
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th class="no-wrap">Side</th>
                    <th class="no-wrap">Class</th>
                    <th class="no-wrap">Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>All</td>
                    <td class="no-wrap">
                        <code>.pad</code> /
                        <code>.mar</code>
                    </td>
                    <td>Space all the things.</td>
                </tr>
                <tr>
                    <td>Horizontal</td>
                    <td class="no-wrap">
                        <code>.pad-h</code> /
                        <code>.mar-h</code>
                    </td>
                    <td>Space the left and right.</td>
                </tr>
                <tr>
                    <td>Vertical</td>
                    <td class="no-wrap">
                        <code>.pad-v</code> /
                        <code>.mar-v</code>
                    </td>
                    <td>Space the top and bottom.</td>
                </tr>
                <tr>
                    <td>Top</td>
                    <td class="no-wrap">
                        <code>.pad-t</code> /
                        <code>.mar-t</code>
                    </td>
                    <td>Space the top.</td>
                </tr>
                <tr>
                    <td>Bottom</td>
                    <td class="no-wrap">
                        <code>.pad-b</code> /
                        <code>.mar-b</code>
                    </td>
                    <td>Space the bottom.</td>
                </tr>
                <tr>
                    <td>Left</td>
                    <td class="no-wrap">
                        <code>.pad-l</code> /
                        <code>.mar-l</code>
                    </td>
                    <td>Space the left.</td>
                </tr>
                <tr>
                    <td>Left</td>
                    <td class="no-wrap">
                        <code>.pad-l</code> /
                        <code>.mar-l</code>
                    </td>
                    <td>Space the right.</td>
                </tr>
            </tbody>
        </table>
    </div>

</section>

<section class="section">

    <h3 id="containers">
        Containers
    </h3>
    <p>Container classes based on the pre-defined and project-customizable breakpoints.</p>

    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th class="no-wrap">Container</th>
                    <th class="no-wrap">Max-width</th>
                    <th class="no-wrap">Class</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Extra Large</td>
                    <td class="no-wrap">
                        <code>1880px ($bp-xl)</code>
                    </td>
                    <td class="no-wrap">
                        <code>.container-xl</code>
                    </td>
                </tr>
                <tr>
                    <td>Large</td>
                    <td class="no-wrap">
                        <code>1260px ($bp-lg)</code>
                    </td>
                    <td class="no-wrap">
                        <code>.container-lg</code>
                    </td>
                </tr>
                <tr>
                    <td>Medium</td>
                    <td class="no-wrap">
                        <code>1024px ($bp-md)</code>
                    </td>
                    <td class="no-wrap">
                        <code>.container</code>
                    </td>
                </tr>
                <tr>
                    <td>Small</td>
                    <td class="no-wrap">
                        <code>760px ($bp-sm)</code>
                    </td>
                    <td class="no-wrap">
                        <code>.container-sm</code>
                    </td>
                </tr>
                <tr>
                    <td>Extra Small</td>
                    <td class="no-wrap">
                        <code>520px ($bp-xs)</code>
                    </td>
                    <td class="no-wrap">
                        <code>.container-xs</code>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</section>