<section class="container section" id="colors">

    <header>
        <h2>Color System</h2>
    </header>

    <div class="table-container">

        <table>
            <thead>
                <tr>
                    <th class="no-wrap">Color Type</thc>
                    <th class="no-wrap">SCSS Variable</th>
                    <th class="no-wrap">Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="color-block c-primary-500"></td>
                    <td class="no-wrap">
                        Primary 500
                    </td>
                    <td class="no-wrap">
                        <code>$color-primary-300</code>
                    </td>
                    <td>
                        Slightly darker shade of
                        <code>primary</code>. Used for alternate states (hover, etc).
                    </td>
                </tr>
                <tr>
                    <td class="color-block c-primary"></td>
                    <td class="no-wrap">
                        Primary/400
                    </td>
                    <td class="no-wrap">
                        <code>$color-primary</code>
                    </td>
                    <td>
                        Used for actionable items
                    </td>
                </tr>
                <tr>
                    <td class="color-block c-primary-300"></td>
                    <td class="no-wrap">
                        Primary 300
                    </td>
                    <td class="no-wrap">
                        <code>$color-primary-300</code>
                    </td>
                    <td>
                        Lighter shade of
                        <code>primary</code>. Used for alternate states (hover, etc).
                    </td>
                </tr>
                <tr>
                    <td class="color-block c-primary-100"></td>
                    <td class="no-wrap">
                        Primary 100
                    </td>
                    <td class="no-wrap">
                        <code>$color-primary-100</code>
                    </td>
                    <td>
                        Lightest shade of
                        <code>primary</code>. Used for shading and mixing.
                    </td>
                </tr>
                <tr>
                    <td class="color-block c-accent"></td>
                    <td class="no-wrap">
                        Accent
                    </td>
                    <td class="no-wrap">
                        <code>$color-accent</code>
                    </td>
                    <td>
                        Used to accent important things.
                    </td>
                </tr>
                <tr>
                    <td class="color-block c-primary-grad"></td>
                    <td class="no-wrap">
                        Gradient
                    </td>
                    <td class="no-wrap">
                        <code>$color-primary-grad</code>
                    </td>
                    <td>
                        Gradient based on <code>primary</code>. Who doesn't like gradients?
                    </td>
                </tr>
        
                <tr>
                    <td class="color-block c-success"></td>
                    <td class="no-wrap">
                        Success
                    </td>
                    <td class="no-wrap">
                        <code>$color-success</code>
                    </td>
                    <td>
                        Successful things.
                    </td>
                </tr>
                <tr>
                    <td class="color-block c-danger"></td>
                    <td class="no-wrap">
                        Danger
                    </td>
                    <td class="no-wrap">
                        <code>$color-danger</code>
                    </td>
                    <td>
                        Your favourite shade of error.
                    </td>
                </tr>

                <tr>
                    <td class="color-block c-black"></td>
                    <td class="no-wrap">
                        Black
                    </td>
                    <td class="no-wrap">
                        <code>$color-black</code>
                    </td>
                    <td>
                        Your favourite shade of black.
                    </td>
                </tr>
                <tr>
                    <td class="color-block c-gray-500"></td>
                    <td class="no-wrap">
                        Gray 500
                    </td>
                    <td class="no-wrap">
                        <code>$color-gray-500</code>
                    </td>
                    <td>
                        Also known as
                        <code>$color-dark</code>.
                    </td>
                </tr>
                <tr>
                    <td class="color-block c-gray-400"></td>
                    <td class="no-wrap">
                        Gray 400
                    </td>
                    <td class="no-wrap">
                        <code>$color-gray-400</code>
                    </td>
                    <td>
                        Lighter shade of
                        <code>$color-gray-500</code>.
                    </td>
                </tr>
                <tr>
                    <td class="color-block c-gray-300"></td>
                    <td class="no-wrap">
                        Gray 300
                    </td>
                    <td class="no-wrap">
                        <code>$color-gray-300</code>
                    </td>
                    <td>
                        Lighter shade of
                        <code>$color-gray-400</code>.
                    </td>
                </tr>
                <tr>
                    <td class="color-block c-gray-200"></td>
                    <td class="no-wrap">
                        Gray 200
                    </td>
                    <td class="no-wrap">
                        <code>$color-gray-200</code>
                    </td>
                    <td>
                        Lighter shade of
                        <code>$color-gray-300</code>.
                    </td>
                </tr>
                <tr>
                    <td class="color-block c-gray-100"></td>
                    <td class="no-wrap">
                        Gray 100
                    </td>
                    <td class="no-wrap">
                        <code>$color-gray-100</code>
                    </td>
                    <td>
                        Lighter shade of
                        <code>$color-gray-200</code>.
                    </td>
                </tr>
                <tr>
                    <td class="color-block c-white"></td>
                    <td class="no-wrap">
                        White
                    </td>
                    <td class="no-wrap">
                        <code>$color-white</code>
                    </td>
                    <td>
                        Your favourite shade of white.
                    </td>
                </tr>
            </tbody>
        </table>

    </div>

</section>