<section class="section">

    <h3 id="buttons">
        Buttons
    </h3>
    <p>
        Simple button styles, with a couple useful utility classes make these buttons suitable for [most of] your needs.
    </p>

    <div class="row row-gutters responsive-sm pad-v">
        <div class="col-30 text-center">
            <button class="btn-primary" type="button">
                Primary Button
            </button>
        </div>

        <div class="col-30 text-center">
            <button class="btn-secondary" type="button">
                Secondary Button
            </button>
        </div>

        <div class="col-30 text-center">
            <button class="btn-tertiary" type="button">
                Tertiary Button
            </button>
        </div>
    </div>

    <div class="pad-b_lg">
        <p>Simply add the class
            <code>.btn-u-lg</code> to your existing button class for a nice big call-to-action.</p>
        <div class="text-center">
            <button class="btn-primary btn-u-lg">
                Large Button
            </button>
        </div>
    </div>

    <div class="row">
        <p>
            For a button that will span the width of its container, add the class
            <code>.btn-u-block</code>.
        </p>
        <button class="btn-primary btn-u-block">
            Block Button
        </button>
    </div>

</section>