<!-- The Meta Fun -->
<meta charset="UTF-8">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<!-- Scripts -->
<script src="js/jquery-2.1.4.min.js"></script>
<script src="js/scripts.js"></script>
<script src="js/modernizr.custom.min.js"></script>

<!-- Third Party Assets -->
<link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,900|Roboto+Mono:400,700' rel='stylesheet' type='text/css'>

<!-- Stylesheets -->
<link rel="stylesheet" href="css/main.css">