<!DOCTYPE html>

<html lang="en">

<head>
	<title>Slim SCSS</title>

	<!--(bake head.html)-->

	<!-- Open Graph Markup for Social Sharing -->
	<meta property="og:title"       content="" />
	<meta property="og:type"        content="" />
	<meta property="og:url"         content="" />
	<meta property="og:image"       content="" />
	<meta property="og:site_name"   content="" />
	<meta property="og:description" content="" />

	
	<!-- Options -->

</head>

<body>

<div class="">
	
	<h1>HELLO WORLD</h1>

</div><!-- wrapper -->


</body>
</html>