@mixin btn-base {
    position: relative;

    display: inline-block;
    height: $button-height;

    padding-left: 1.5em;
    padding-right: 1.5em;

    border-radius: $radius-sm;
    border-style: solid;
    border-width: 2px;
    border-color: transparent;

    white-space: nowrap;
    text-decoration: none;
    line-height: #{$button-height - 0.25};
    font-weight: $font-medium;
    font-size: $font-size-meta;
    letter-spacing: 0.015em;

    background-color: transparent;

    cursor: pointer;

    transition: 0.15s ease;

    // For a larger hit-zone on mobile
    @include mq-sm {
        @include hitzone(0.5em);
    }

    .icon {
        width: 1.25rem;
    }
}

// This button is filled with colour
.btn-primary {

    @include btn-base;

    color: check-text-color($color-primary);

    background-color: $color-primary;
    border-color: $color-primary;
    box-shadow: 0 0.15em 0.2em 0 rgba($color-gray-400, 0.5);

    &:hover,
    &:focus {
        background-color: rgba($color-primary, 0.9);
        color: #fff;

        box-shadow: 0 0.35em 0.4em 0 rgba($color-gray-400, 0.35);
    }
    &:active {

    }
}

// This button has a colored border.
.btn-secondary {
    @include btn-base;

    color: $color-primary;

    border-color: $color-primary;
    box-shadow: 0 0.15em 0.2em 0 rgba($color-gray-400, 0.5);

    &:hover,
    &:focus {
        border-color: $color-primary-500;
        color: $color-primary-500;

        box-shadow: 0 0.35em 0.4em 0 rgba($color-gray-400, 0.35);
    }
    &:active {

    }
}

// This button is juuuuust text.
.btn-tertiary {
    @include btn-base;

    color: $color-primary;

    border-color: transparent;

    &:hover,
    &:focus {
        color: $color-primary-500;
    }
    &:active {

    }
}

// Icon Buttons
.btn-icon {
    @include btn-base();
    width: $button-height;

    padding: 0;

    border-color: $color-primary;

    color: $color-primary;

    span, i {
        font-size: 1.5rem;
    }

    &:hover,
    &:focus {
        border-color: $color-primary-300;
    }
    &:active {

    }
}

.btn-icon-light {
    @include btn-base();
    width: $button-height;

    padding: 0;

    border-color: $color-light;

    color: $color-light;

    span, i {
        font-size: 1.5rem;
    }

    &:hover,
    &:focus {
        border-color: $color-gray-200;

        span, i {
            color: $color-gray-200;
        }
    }
    &:active {

    }
}

// Floating Action Button

@mixin btn-fab-base {
    width: 3.65rem; 
    height: 3.65rem;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%; 
    box-shadow: 0 0.25em 1em 0 rgba($color-dark, 0.2);
    background-color: $color-accent;
    background: $color-primary-grad;
    border: 2px solid $color-light;

    text-align: center;
    color: $color-light;
    font-size: $font-size-meta;
    font-weight: $font-medium;

    cursor: pointer;

    &:hover,
    &:focus {
        border-color: $color-accent;
    }
    &:active {

    }
}

.btn-fab {
    @include btn-fab-base();
}

.btn-fab-fixed {
    @include btn-fab-base();

    position: fixed; 
    bottom: 2em; 
    right: 2.5em; 

    z-index: z("overlay");
}


// Button Utilities
// -- Add these to any button class for an altered appearance
.btn-u-lg {
    font-size: 1.25em;
}

.btn-u-block {
    display: block;
    width: 100%;
}
