  // -----------------------------
 //         Base Typography
// ---------------------------------

html,
:root {
    @include mq-sm {
        font-size: 15px;
    }
    @include mq-md {
        font-size: 16px;
    }
    @include mq-xl {
        font-size: 19px;
    }
}

// Style form elements
button,
input,
optgroup,
select,
textarea {
    font-family: $font-stack;
}

body {
    font-family: $font-stack;
    color: $color-gray-500;
    line-height: 1.5;

    overflow-wrap: break-word;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;

}

// Headings

h1, h2, h3, h4, h5, h6 {
    margin-top: 1em;
    margin-bottom: 1em;

    font-weight: $font-normal;
}

h1 {
    font-size: 3.2rem; line-height: 1.2;
}

h2 {
    font-size: 2.5rem; line-height: 1.25;
}

h3 {
    font-size: 1.8rem; line-height: 1.3;
}

h4 {
    font-size: 1.5rem; line-height: 1.35;
}

h5 {
    font-size: 1.2rem; line-height: 1.5;
}


p {
    font-size: 1rem; 
    line-height: 1.5;
}

code {
    background-color: #efefef;
}

// Typographic Styles

// Text Alignment
.text-center  {text-align: center;}
.text-left    {text-align: left;}
.text-right   {text-align: right;}

// Text Colors
.text-light {color: $color-light;}
.text-dark  {color: $color-dark;}


// Links
a {
    color: $color-primary;
    text-decoration: none;
    
    &:hover {
        color: $color-primary-500;
    }
}