{{> header}}

{{> doc-sidebar}}

<section class="container push-left">
    <header>
        <h1>
            Documentation <br>
            &amp; Styleguide
        </h1>
    </header>

    {{> doc.layout}}

    <section class="section">
    
        <header id="elements">
            <h2>Elements</h2>
        </header>
    
        {{> doc.buttons}} 

        {{> doc.inputs}}
    
    </section>
    
    {{> doc.colors}}

</section>


{{> footer}}