{{> header}}

        <!-- Hero -->
        <section class="section-lg row align-center bg-primary-grad">

            <div class="container text-center">
                <img src="img/slim-starterkit-logo.svg" alt="">
                <h4>
                    A simple starting point for website projects. <br>
                </h4>
                <a href="https://github.com/simgooder/slimStarterkit">
                <button class="btn-primary btn-u-lg mar-t">
                    <img class="icon" src="img/github-logo.svg" alt="" style="margin: 0 0.25rem 0.85rem 0;"> Download
                </button>
                </a>
            </div>
            
        </section>

        <!-- Features -->
        <section class="section container">
            
            <header id="features">
                <h1>Features</h1>
            </header>

            <div class="row row-gutters align-start responsive-sm">

                <div class="col-30">
                    <div class="text-center ">
                        <img src="img/slim-starterkit-logomark.svg" alt="">
                    </div>

                    <div class="">
                        <h3 class="text-center">Dynamic</h3>
                        <p>
                            Responsive by default, scalable style system, plug-and-play styling for unopinionated components.
                        </p>
                    </div>
                </div>

                <div class="col-30">
                    <div class="text-center ">
                        <img src="img/sass-logo.svg" alt="">
                    </div>

                    <div class="">
                        <h3 class="text-center">Stylish</h3>
                        <p>
                            Sensible defaults, powerful mixins and smart variables. Use the kit or get sassy with Sassy CSS.
                        </p>
                    </div>

                </div>

                <div class="col-30">
                    <div class="text-center ">
                        <img src="img/gulp-logo.svg" alt="">
                    </div>

                    <div class="">
                        <h3 class="text-center">Automatic</h3>
                        <p>
                            A browser refreshing, image optimizing, file smushing, build compiling, concatenating code robot. 
                        </p>
                    </div>
                </div>

            </div>

        </section>

        <!-- Examples -->
        <section class="section container">
        
            <header id="examples">
                <h1>Examples</h1>
                <h3>Who's using Slim Starterkit?</h3>
            </header>
        
            <div class="row row-gutters align-center responsive-sm mar-b_lg">
                <div class="text-center col-40">
                    <img src="img/ex-the-idea.jpg" srcset="img/ex-the-idea.jpg 1x, img/ex-the-idea@2x.jpg 2x" alt="">
                </div>
        
                <div class="col-60">
                    <h3>The Idea</h3>
                    <p>
                        TheIdea is a digital web studio based in Montréal. They work with growing companies to build digital strategies through websites
                        and applications.
                    </p>
                </div>
            </div>
        
            <div class="row row-gutters align-center responsive-sm mar-b_lg">
                <div class="text-center col-40">
                    <img src="img/ex-gohobo.jpg" srcset="img/ex-gohobo.jpg 1x, img/ex-gohobo@2x.jpg 2x" alt="">
                </div>
        
                <div class="col-60">
                    <h3>GoHobo</h3>
                    <p>
                        Built as a publication and a collection of curated alternative travel resources for adventurers, nomads, vandwellers, explorers
                        and travelers.
                    </p>
                </div>
        
            </div>
        
        </section>

        
        <!-- Final CTA -->
        <section class="section row align-center">

            <div class="container-sm text-center">

                <img src="img/slim-starterkit-logo.svg" alt="">

                <div class="col mar-t_lg text-center">
                <a href="https://github.com/simgooder/slimStarterkit">
                    <button class="btn-primary btn-u-lg mar-t">
                        <img class="icon" src="img/github-logo.svg" alt="" style="margin: 0 0.25rem 0.85rem 0;"> Download
                    </button>
                </a>
                </div>

            </div>   

        </section>

{{> footer}}