@mixin btn-base {
    position: relative;

    display: inline-block;
    height: $button-height;

    padding-left: 1.5em;
    padding-right: 1.5em;

    border-radius: $radius-sm;
    border-style: solid;
    border-width: 2px;
    border-color: transparent;

    white-space: nowrap;
    text-decoration: none;
    line-height: #{$button-height - 0.1};
    font-weight: 600;
    font-size: $font-size-meta;
    letter-spacing: 0.015em;

    background-color: transparent;

    cursor: pointer;

    // For a larger hit-zone on mobile
    @include mq-sm {
        @include hitzone(0.5em);
    }
}

// This button is filled with colour
.btn-primary {

    @include btn-base;

    color: check-text-color($color-primary);

    background-color: $color-primary;
    border-color: $color-primary;

    &:hover,
    &:focus {
        background-color: rgba($color-primary, 0.9);
        color: #fff;
    }
    &:active {

    }
}

// This button has a colored border.
.btn-secondary {
    @include btn-base;

    color: $color-primary;

    border-color: $color-primary;

    transition: color 0.1s ease-in-out, box-shadow 0.2s ease-in-out;

    &:hover,
    &:focus {
        border-color: $color-primary-300;
    }
    &:active {

    }
}

// This button is juuuuust text.
.btn-tertiary {
    @include btn-base;

    color: $color-primary;

    border-color: transparent;

    &:hover,
    &:focus {
        color: $color-primary-300;
    }
    &:active {

    }
}


// Button Utilities
// -- Add these to any button class for an altered appearance
.btn-u-lg {
    font-size: 1.25em;
}

.btn-u-block {
    display: block;
    width: 100%;
}
