table {
    width: 100%;

    border-collapse: collapse;
    border-spacing: 0;
}

thead {
    text-align: left;
}

th, td {
    min-width: 8rem;

    padding: 0.85em 1em;

    text-align: left;

    border-bottom: 1px solid $color-gray-300;

    &:first-child {
        padding-left: 0;
    }
    &:last-child {
        padding-right: 0;
    }
}

.no-wrap {
    white-space: nowrap;
}

.table-container {
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
}