
table {
    width: 100%;
    max-width: 100%;
    overflow: auto;
    
    border-collapse: collapse;
    border-spacing: 0;
}

thead {
    text-align: left;
}

th, td {
    border-bottom: 1px solid $color-gray-light;

    padding: 0.85em 1em;

    text-align: left;

    &:first-child {
        padding-left: 0;
    }
    &:last-child {
        padding-right: 0;
    }
}
