<!DOCTYPE html>

<html lang="en">

<head>
	<title>Slim SCSS</title>

	<!-- The Meta Fun -->
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<!-- Open Graph Markup for Social Sharing -->
	<meta property="og:title"       content="" />
	<meta property="og:type"        content="" />
	<meta property="og:url"         content="" />
	<meta property="og:image"       content="" />
	<meta property="og:site_name"   content="" />
	<meta property="og:description" content="" />

	<!-- Stylesheets -->
	<link rel="stylesheet" href="css/main.css">
	
	<!-- Options -->
	
	<!-- Load Fontawesome from CDN -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"> 
	
	<!-- Bootstrap CSS / JS 
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>-->
	
	<!-- Angular 
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>-->

	<!-- Load Scripts -->
	<script src="js/jquery-2.1.4.min.js"></script>
	<script src="js/scripts.js"></script>
	<script src="js/modernizr.custom.min.js"></script>

</head>

<body>

<div class="wrapper col-9 middle">
	
	<!--(bake main.html)-->	

</div><!-- wrapper -->


</body>
</html>