<section class="section">
	<div class="text-center">
		<h1 class="mar-v h1 text-colour_light">Slim Starterkit</h1>
		<h4 class="h4">a rapid prototyping starterkit &amp; build process for in-browser prototyping.</h4>
	</div>

	<header class="nav-main pad-v_lg" id="menu">
		
		<div class="cf">
			<div class="fl-l">
				<h5>Table of Contents</h5>
			</div>
			<div class="fl-r text-colour_highlight pad-l">
				<a href="https://twitter.com/simgooder" class="d-ib pad_sm">
					<span class="fa fa-twitter"></span>
				</a>
				<a href="https://github.com/simgooder" class="d-ib pad_sm">
					<span class="fa fa-github"></span>
				</a>
			</div>
		</div>

		<nav class="text-colour_light">
			<div class="menu">
				<a href="#intro">introduction</a>
				<a href="#syntax">syntax</a>
				<a href="#toolkit">toolkit</a>
				<a href="#patterns">common patterns</a>
				<a href="#typography">typography</a>
				<a href="#grid">the grid</a>
			</div>
		</nav>

	</header>

</section>