<section class="section col-9 middle">	
	<div id="grid">
		<h2 class="text-colour_light h2 d-ib">the grid</h2><div class="fa fa-link d-ib"></div>
		<p>
			We've always gotta talk about the grid. Well, this grid system is nothing special. It's been wrangled using common systems, covering all basic needs without diving too deep. It's a float-based grid, &amp; built using a customizable <a href="http://sass-lang.com/">Sass</a> function.
		</p>
		<h5 class="h5">Example</h5>
		<code>&lt;div class="col col-6"&gt; column content with 50% width &lt;/div&gt;</code>
		<em class="pad d-b">or</em>
		<code>&lt;div class="middle col-6"&gt; for centered column content width 50% width &lt;/div&gt;</code>
	</div>	
	
	<div class="row text-center">
		<em class="text-left d-b pad-v_sm">A normal, no-nonsense grid for basic layouts.</em>
		<div class="col theme-light pad-v_sm col-2">.col-2</div>
		<div class="col theme-light pad-v_sm col-3">.col-3</div>
		<div class="col theme-light pad-v_sm col-3">.col-3</div>
		<div class="col theme-light pad-v_sm col-4">.col-4</div>
		<div class="col theme-light pad-v_sm col-5">.col-5</div>
		<div class="col theme-light pad-v_sm col-2">.col-2</div>
		<div class="col theme-light pad-v_sm col-4">.col-4</div>
		<div class="col theme-light pad-v_sm col-1">.col-1</div>
	</div>

	<div class="row-spaced text-center">
		<em class="text-left d-b pad-v_sm">A grid wrapped in <code>.row-spaced</code> for that customizable gutter you love so much.</em>
		<div class="theme-dark cf pad-t_sm">
			<div class="col theme-light pad-v_sm col-4">.col-11</div>
			<div class="col theme-light pad-v_sm col-8">.col-1</div>
			<div class="col theme-light pad-v_sm col-6">.col-6</div>
			<div class="col theme-light pad-v_sm col-6">.col-6</div>
		</div>
	</div>
</section>