<section class="section col-9 middle body-copy">
	<div id="toolkit">
		<h2 class="text-colour_light h2 d-ib">toolkit</h2><div class="fa fa-link d-ib"></div>
		<p>This grunt task-set has everything you need to get started (static-file server, sass-compiler) set up based around the existing folder structure, so all you have to do is type in a few grunt commands, and you're ready to roll.</p>
		<p>
			<h5 class="h5">Features</h5>
			<ul class="list">
				<li>Static file server 
					-<a class="em" href="https://www.npmjs.com/package/grunt-web-server">
						grunt-web-server
					</a>
				</li>
				<li>Sass Compiler 
					-<a class="em" href="https://github.com/sindresorhus/grunt-sass">
						grunt-sass
					</a>
				</li>
				<li>Autoprefixer 
					-<a class="em" href="https://github.com/postcss/autoprefixer">
						Post-CSS
					</a>	
				</li>
				<li>Browser refreshing / Style-injection 
					-<a class="em" href="http://www.browsersync.io/">
						Browsersync
					</a>
				</li>
				<li>HTML templating system 
					-<a class="em" href="https://github.com/MathiasPaumgarten/grunt-bake">
						grunt-bake
					</a>
				</li>
				<li>File Watch 
					-<a class="em" href="https://github.com/gruntjs/grunt-contrib-watch">
						grunt-contrib-watch
					</a>
				</li>
			</ul>
		</p>
		<h5 class="h5">Directions</h5>
		<ol>
			<li>Open Terminal</li>
			<li>Navigate to your project folder root</li>
			<li>Type <code>`grunt server`</code>. This will start your static file server</li>
			<li>Open another terminal window in the folder root and type <code>`grunt`</code></li>
			<li>Start coding</li>
		</ol>
		
		<p>
			With these two processes running, you can now code without worrying about refreshing the page, compiling your Sass, or prefixing your code. Follow the same process every time to spin up a server and start coding in no time. 
		</p>

		<h5 class="h5">Bonus</h5>
		<p>In addition to the grunt tasks, there is a small selection of even more useful tidbits baked right in: 
			<ul class="list">
				<li><a href="https://modernizr.com/">Modernizr</a></li>
				<li><a href="https://jquery.com/">jQuery</a></li>
				<li><a href="https://fortawesome.github.io/Font-Awesome/">FontAwesome </a>(via CDN)</li>
				<li><a href="http://getbootstrap.com/">Bootstrap </a>(via CDN)</li>
				<li><a href="https://angularjs.org/">Angular </a>(via CDN)</li>
			</ul>
	</div>
</section>