<section class="section col-9 middle">
	<div id="patterns">
		<h2 class="text-colour_light h2 d-ib">common patterns</h2><div class="fa fa-link d-ib"></div>
		<p>
			Aside from basic positioning &amp; spacing, a small collection of helper classes &amp; mixins built around common patterns will assist in speedily building out testable prototypes.
			There is also a colour-theming system based on the colour palette which is located in <code>base/_variables.scss </code>. 
		</p>
	</div>
	<div class="row">
		<h5 class="h5">Examples</h5>
		<div class="row">
			<div class="card pad-h pad-v text-center col-6 middle">
				<h4>This is a <code>.card</code> helper class</h4>
			</div>
		</div>
		<div class="row text-center">
			<div class="d-ib mar-h_sm">
				<button class="btn">Contextual Button</button>
			</div>
			<div class="d-ib mar-l_sm mar-t">
				<button class="btn-round">Round Button</button>
			</div>
		</div>
		<div class="row pad-v text-center">
			<div class="fl-l col-6 pad">
				<div class="circle-container middle">
					<img class="img" src="https://placecage.com/300/300" alt="">
				</div>
				<em class="pad-t">Nicolas Cage wrapped with <code>.circle-container</code></em>
			</div>
			<div class="fl-l col-6 pad">
				<div class="circle-container middle mask">
					<img class="img-align" src="https://placecage.com/300/300" alt="" width="300">
				</div>
				<em class="pad-t">Nicolas Cage wrapped with <code>.circle-container</code> &amp; utilizing the <code>.img-align</code> class on the image tag.</em>
			</div>
		</div>
		<div class="col-6 pad theme-dark card middle mar-v">
			<p>Nicolas Cage is not a helper class, but <code>.theme-dark</code> is.</p>
		</div>
		<div class="col-5 pad theme-light card middle">
			<p>This card uses <code>.theme-light</code>.</p>
		</div>
	</div>	
</section>