<section class="section col-9 middle body-copy">
	<div id="typography">
		<h2 class="text-colour_light h2 d-ib">typography</h2><div class="fa fa-link d-ib"></div>
		<p>
			Headings are scaled using a<a href="http://typecast.com/blog/a-more-modern-scale-for-web-typography"> technique</a> provided by Typecast. The default font-stack utilizes the reader's operating system's<a href="https://medium.com/@mwichary/system-shock-6b1dc6d6596f#.9rbfajgsf"> default font family.</a>
		</p>
		<div class="row">
			<h5 class="h5">The Stack</h5>
			<code>
				$default-font-stack:'San Francisco', 'Oxygen', 'Ubuntu', 'Roboto', 'Segoe UI', 'Helvetica Neue', 'Lucida Grande', sans-serif;
			</code>
		</div>
	</div>
	<h5 class="h5">Example</h5>
	<div class="col-10 middle card pad_lg body-copy">
		<h3 class="h3">
			It wasn't a dream
		</h3>
		<p>
		One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. "What's happened to me?" he thought.
		</p>
		<blockquote>A collection of textile samples lay spread out on the table</blockquote>
		<p>
		It wasn't a dream. His room, a proper human room although a little too small, lay peacefully between its four familiar walls. A collection of textile samples lay spread out on the table - Samsa was a travelling salesman - and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame. It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer. Gregor then turned to look out the window at the dull weather.
		</p>
		<h4 class="mar-v h4">
			This list
		</h4>
		<ul class="list">
			<li>An illustrated magazine</li>
			<li>A proper human room</li>
			<li>A lady fitted out with a fur hat</li>
			<li>The bedding was hardly able to cover it</li>
			<li>A collection of textile samples</li>
		</ul>
	</div>
</section>