<section class="section col-9 middle">	
	<div id="syntax">
		<h2 class="text-colour_light h2 d-ib">
			rapid prototyping syntax
		</h2>
		<div class="fa fa-link d-ib"></div>
		<p>
			The syntax has been formulated for optimal typing speed. A class system based on common patterns for layout, spacing, positioning, typography and even common design patterns, like cards. Classnames are aptly named using an easy-to-memorize syntax, and most class functions are atomic in structure.
		</p>
		<p>
			All positioning and spacing classes use a variable called <code>$space</code> which represents <code>1rem</code>. The font-size is set to 100% on the body tag, meaning <code>$space = 1rem = 16px</code>.
		</p>
	</div>	
	<div class="row text-center">
		<h5 class="text-left h5">
			Atomic CSS Legend
		</h5>
		<table class="col-12">
			<tr>
				<th>Namespace</th>
				<th>Description</th>
				<th>Type</th>
				<th>Usage</th>
			</tr>
			<tr>
				<td>
					<em>mar</em>
				</td>
				<td>
					margin
				</td>
				<td>
					<em>prefix</em>
				</td>
				<td>
					.mar-*
				</td>
			</tr>
			<tr>
				<td>
					<em>pad</em>
				</td>
				<td>
					padding
				</td>
				<td>
					<em>prefix</em>
				</td>
				<td>
					.pad-*
				</td>
			</tr>
			<tr>
				<td>
					<em>pos</em>
				</td>
				<td>
					position
				</td>
				<td>
					<em>prefix</em>
				</td>
				<td>
					.pos-*
				</td>
			</tr>
			<tr>
				<td>
					<em>v</em>
				</td>
				<td>
					vertical
				</td>
				<td>
					<em>-suffix</em>
				</td>
				<td>
					.*-v
				</td>
			</tr>
			<tr>
				<td>
					<em>h</em>
				</td>
				<td>
					horizontal
				</td>
				<td>
					<em>-suffix</em>
				</td>
				<td>
					.*-h
				</td>
			</tr>
			<tr>
				<td>
					<em>t</em>
				</td>
				<td>
					top
				</td>
				<td>
					<em>-suffix</em>
				</td>
				<td>
					.*-t
				</td>
			</tr>
			<tr>
				<td>
					<em>b</em>
				</td>
				<td>
					bottom
				</td>
				<td>
					<em>-suffix</em>
				</td>
				<td>
					.*-b
				</td>
			</tr>
			<tr>
				<td>
					<em>l</em>
				</td>
				<td>
					left
				</td>
				<td>
					<em>-suffix</em>
				</td>
				<td>
					.*-l
				</td>
			</tr>
			<tr>
				<td>
					<em>r</em>
				</td>
				<td>
					right
				</td>
				<td>
					<em>-suffix</em>
				</td>
				<td>
					.*-r
				</td>
			</tr>
			<tr>
				<td>
					<em>xs</em>
				</td>
				<td>
					.25rem
				</td>
				<td>
					<em>_suffix</em>
				</td>
				<td>
					.*_xs
				</td>
			</tr>
			<tr>
				<td>
					<em>sm</em>
				</td>
				<td>
					.5rem
				</td>
				<td>
					<em>_suffix</em>
				</td>
				<td>
					.*_sm
				</td>
			</tr>
			<tr>
				<td>
					<em>lg</em>
				</td>
				<td>
					3rem
				</td>
				<td>
					<em>_suffix</em>
				</td>
				<td>
					.*_lg
				</td>
			</tr>
			<tr>
				<td>
					<em>xl</em>
				</td>
				<td>
					6rem
				</td>
				<td>
					<em>_suffix</em>
				</td>
				<td>
					.*_xl
				</td>
			</tr>
		</table>
	</div>
	<div class="row">
		<h5 class="h5">Example</h5>
		<code>.mar-v_lg { margin-top:$space * 3;margin-bottom:$space * 3; }</code>
		<em class="d-b pad">or</em>
		<code>.mar-v_lg { margin-top:48px;margin-bottom:48px; }</code>
	</div>
</section>