<section class="section col-9 middle">
	<h2 class="h2 text-colour_light" id="intro">
		introduction
	</h2>
	<div class="body-copy">
		<p>
			Slim Starterkit is a plug-and-play, in-browser prototyping toolkit, created to jump-start high-fidelity prototyping. 
			Slim Starterkit is NOT a framework, nor was it made for use in production. It's merely an attempt to bundle some helpful tools that I normally use in my workflow, as well as some top-notch default settings to ease the setup process.
		</p>
	</div>
</section>